.example-card .block {
    width: 50%;
    margin: 10px;
}
.example-card  {
  padding-bottom:10px;
}
.example-header-image {
    background-image: url('C:/Users/sloum/Documents/pfe/src/assets/img/icon pdf.jpg');
    background-size: cover;
  }
