<div class="form-wrapper">
    <input type="text" placeholder="inserer le nombre d'heure" class="form-control"  [(ngModel)]="nbr">
    <div *ngFor="let item of  id_Absence | async">
       {{item.key}}
    </div>
  </div>
<mat-form-field class="example-full-width">
    <mat-label>Choose a date </mat-label>
    <input matInput [max]="maxdate" [matDatepicker]="picker" 
    [(ngModel)]="date_abs"><!--3malt ngmodel bech n5arej el resultas mta3 el input w nesta3melou fi upload-->
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button (click)="ajouterAbsence()">ajouter</button>
  <button color="danger" (click)="deleteAbsence()">supp</button>
  