<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Numero Tel </th>
        <th scope="col">Email</th>
        <th scope="col">Code</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let user of log | async ">
        <td>{{user.val.firstname}}</td>
        <td>{{user.val.lastName}}</td>
        <td>{{user.val.num_Tel}}</td>
        <td>{{user.val.email}}</td>
        <td>{{user.val.code}}</td>
        <td *ngIf="name === 'eleve'"> <button  mat-raised-button color="primary"
          [routerLink]="['../../absence',user.key]">Absence</button></td>
      </tr>
    </tbody>
  </table>
 
</div>
