<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Numero Tel </th>

        <th scope="col">Code</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let user of log | async ">
        <td>{{user.val.firstName}}</td>
        <td>{{user.val.lastName}}</td>
        <td>{{user.val.num_tel}}</td>
        <td>{{user.val.code}}</td>
        <td>{{user.key}}</td>
      </tr>
    </tbody>
  </table>
  <div *ngFor="let user of users | async">
    {{user.val.firstName}}
  </div>
</div>
