 p {
    display: flex;
}
.block-comment-text{
    margin: 5px 0 5px 0;
}
.mat-card-image {
  width: calc(70% + 16px);
  margin: -6px -1px 0px;
}
.block {
    width: 500px;
    display: block;
    position: relative;
    margin-bottom: 14px;
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
    height: auto;
}
.input-comment{
    border-radius: 4px;
}
.block-content{
  cursor: pointer;
}
.input-comment .block-input-comment{
    width: 50%;
}
.sous-block{
    display: flex;
    word-break:break-word;
}
.block-comment-text {
    padding-bottom: 5px;
}

.buble{
        min-width: 501px;
    max-width: fit-content;
    word-wrap: break-word;
    border:  #ccc!important;
    background-color: #f2f3f5;
    border-radius: 20px;
}

