
<div class="container-fluid">
  <div class="chat-container">
<div *ngFor="let item of message">
   <div *ngIf="item.val.user==id">
  <i> {{ item.val.name }} {{ item.val.lastname }}</i> <br/>
</div>
<div *ngIf="item.val.user!==id">
  <i class="right"> {{ item.val.name }} {{ item.val.lastname }}</i> <br/>
</div>
 <div *ngIf="item.val.user==id"> <div class="me"  >{{item.val.text}}
  </div></div>
  <div *ngIf="item.val.user!==id" class="others">{{item.val.text}}</div>
</div>
</div>
<div class="input-container" >
<input type="text" class="message"  placeholder="Chat here..." (keydown.enter)="msg($event)" [(ngModel)]="text" >
</div>
</div>

