<div id="wrapper" class="home-page">
    <app-nav></app-nav>
<app-slide></app-slide>
<section class="feature">
    <div class="container">
     <div class="row">
        <div class="col-md-12">
            <div class="aligncenter"><h2 class="aligncenter">
              Notre Communauté</h2>
              . Notre école compte plus de 600 d'étudiants et 50 000 instructeurs et experts
            </div>
            <br/>
        </div>
    </div>

    <div class="row service-v1 margin-bottom-40">
        <div class="col-md-4 md-margin-bottom-40" *ngFor="let ev of liste | async">
                <div class="card small">
                    <div class="card-image">
                         <img class="img-responsive" src={{ev.val.img}} alt="">
                        <span class="card-title">{{ev.val.title}}</span>
                    </div>
                    <div class="card-content">
                        <p class="date_event"> <img class="clock" src="..\assets\img\planning-14-512.png" alt="">
                            {{ ev.val.date_event| date:'mediumDate'}},{{ ev.val.date_event| date:'shortTime'}}</p>
                        <hr>
                            <p>
                            {{ev.val.contenu}}
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                            Loremsit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt
                        </p>
                    </div>
                </div>
        </div>
    </div>
    </div>
    </section>
	<section id="content">
	<div class="container">

		<section class="services">
	    	<div class="row">
			<div class="col-md-12">
        <div class="aligncenter"><h2 class="aligncenter">Nos Cours</h2>
           nous enseignons des cours permettant d'acquérir de nouvelles compétences. Ce faisant, nous proposons une gamme de matériels d'apprentissage en ligne, notamment des documents PDF, PowerPoint, du texte, etc.
        </div>
				<br/>
			</div>
		</div>

	 <div class="row">
            <div class="col-sm-4 info-blocks">
				<i class="icon-info-blocks material-icons">queue_music</i>
                <div class="info-blocks-in">
                    <h3>Arts créatifs</h3>
                    <p> de la conception graphique aux beaux-arts, en passant par la cuisine et la production musicale.</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">settings_input_svideo</i>
                <div class="info-blocks-in">
                    <h3>Mode de vie</h3>
                    <p>enseignement, langues, jeux et bien-être.</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">track_changes</i>
                <div class="info-blocks-in">
                    <h3>Sport</h3>
                    <p>Nous répondons aux besoins en éducation physique, en entraînement physique parascolaire, en formation d'équipe sportive</p>
                </div>
            </div>
        </div>
<div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">my_location</i>
                <div class="info-blocks-in">
                    <h3>Informatique</h3>
                    <p>Nous avons plusierus laboratoires informatique  qui fournissent des services informatiques divers .</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks material-icons">shuffle</i>
                <div class="info-blocks-in">
                    <h3>Sciences naturelles</h3>
                    <p>nous enseignons toutes les matières scientifiques qui se consacrent à une étude complete à savoir: la biologie, la physique, la chimie et la géologie</p>
                </div>
            </div>
        </div>
		</section>
	</div>
	</section>







	<section class="section-padding gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>About Us</h2>
						<p>
              Kids Academy est une école de connaissances et de principes. Les thèmes classiques sont enseignés d'une manière à couper le souffle, moderne, pertinente et dynamique. Nos apprenants sont engagés bien après l'heure de la journée scolaire. Ils pensent, pas seulement en apprenant.
              </p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="about-text">
					<strong>Notre Mission</strong>
					<p>Notre mission est de développer un haut niveau de connaissance chez nos élèves en leurs offrant une formation complète, de qualité.
            Nous encourageons le développement personnel, social et intellectuel des élèves et les préparer au cycle suivant de formation.
          </p>
					<strong>Notre Vision</strong>
					<p> Dans un esprit de travail d’équipe, nous visons la réussite de tous nos élèves tout en respectant leur rythme et leur style d’apprentissage et afin de remplir notre mission en poursuivant nos objectifs </p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="about-image">
						<img src="../assets/img/about.jpg" alt="About Images">
					</div>
				</div>
			</div>
		</div>
	</section>
    <app-footer></app-footer>
</div>
