<div class="container">
<div class="form-wrapper">
    <input type="text" placeholder="Titre" class="form-control" [(ngModel)]="titre" >
  </div>
<div class="row" >
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <mat-label>Selectionez la metiere</mat-label>
      <mat-select  placeholder="Chosisez la matiere" [(value)]="selected" >
        <mat-option class="abc" *ngFor="let item of matiere | async" value="{{item.val.nom}}">{{item.val.nom}} 
        </mat-option>
      </mat-select>
  </div>
  <div class="col-md-4"> </div>
</div>
<div class="row" >
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <mat-label>Selectionez un(e) prof</mat-label>
        <mat-select placeholder="Chosisez un(e) prof"  [(ngModel)]="selectedprof">
          <mat-option class="abc" *ngFor="let item of prof | async" value={{item.key}} >{{item.val.firstName}} {{item.val.lastName}}
          </mat-option>
        </mat-select>
    </div>
    <div class="col-md-4"> </div>
  </div>
  <label><input class="file-input" type="file" (change)="choose($event)" accept="application/pdf"  [(ngModel)]="file">
    <i class="fa fa-upload"></i>Choose file</label>
    <span *ngIf="selectedcours">
      <strong>Chosen File:</strong>
      <span>{{selectedcours.item(0).name}}</span>
    </span>
  <textarea [(ngModel)]="Remarque" rows="15" cols="50">                             
</textarea>
<button mat-raised-button color="accent" (click)="envoyer()"> envoyer</button>
</div>