.sous-block{
    display: flex;
    word-break:break-word;
}
.mat-card-image {
  width: calc(70% + 16px);
  margin: -6px -1px 0px;
}
.block-comment-text {
    padding-bottom: 5px;
}
.input-comment .block-input-comment{
    width: 50%;
}
.buble{
        min-width: 501px;
    max-width: fit-content;
    word-wrap: break-word;
    border:  #ccc!important;
    background-color: #f2f3f5;
    border-radius: 20px;
}
