<!--chouf kifech tzid fil taille ta3 el cours bech tji wad7a -->
<div class="container-fluid">
<div class="row" >
   <div class="col-md-6"> <pdf-viewer
    src="{{detail.fichier}}"
    [render-text]="true" ([page])=1 [fit-to-page]="false"
    [original-size]="false" [autoresize]="false"
    style="display: block; height:auto; width: 100%;"></pdf-viewer>  </div>
   <div class="col-md-6">
     <p  ><label>Titre:</label> {{detail.titre}}
  </p>
    <p ><label>Contenu:</label> <span  [innerHTML]="detail.contenu"></span>
   </p>
    <p><label> Classe:</label>{{detail.classe}}
    </p>
    <p><label> Date:</label><span >{{detail.date_creation |date:'medium'}}</span>  </p>
    <p><label>Type:</label>{{detail.type}}
    </p>
    <div *ngFor="let i of allcoms"class="block-comment-text">
      <div class="buble">
      <div class="sous-block">
        <div mat-card-avatar class="example-header-image">
        <img mat-card-image style="margin-top:0px;" src='https://ui-avatars.com/api/?background=5443ab&color=fff&rounded=true&name={{i.val.lastName}}+{{i.val.firstName}}'>
         </div>
         <div style="margin-left:4px;">{{i.val.firstName}} {{i.val.lastName}}
           <div>{{i.val.comment}}</div></div>

      </div>
      </div>
    </div>
    <div class="input-comment">
      <textarea (keydown.enter)="sendcomment($event)"
        class="block-input-comment" [(ngModel)]="text"></textarea>
      </div>
  </div>
</div>





</div>


