
    <!--<div class="form-wrapper">
        <input type="text" placeholder="Titre" class="form-control" #titre>
      </div>
      <div class="form-wrapper">
        <input type="text" placeholder="contenu" class="form-control" #contenu>
      </div>-->
      <div class="form">
        <h3>Register Form</h3>
        <div class="form-wrapper">
          <input type="text" placeholder="Titre" class="form-control" [(ngModel)]="titre" >
        </div>
        <div class="form-wrapper">
          <input type="text" placeholder="contenu" class="form-control"  [(ngModel)]="contenu">
        </div>
        <div class="form-wrapper">
          <input type="file" (change)="detect($event)" class="form-control"  [(ngModel)]="img">
        </div>
        <button (click)="photo()">ajouter photo
      
        </button>
        <button (click)="evenement(titre,contenu,img)">ajouter
      
        </button>
       
        
      </div>