<!-- end header -->
<section id="banner">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="../assets/img/slides/2.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Best Learning</h3> 
					<p>The Primary School Integrated model education</p> 
					 
                </div>
              </li>
              <li>
                <img src="../assets/img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Early Childhood</h3> 
					<p>We envision a world in which every child</p> 
					 
                </div>
              </li>
            </ul>
        </div>
	<!-- end slider --> 
	</section>  