<!-- end header -->
<section id="banner">

	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
              <li>
                <img src="../assets/img/slides/2.jpg" alt="" />
                <div class="flex-caption">
                    <h3>
                     Le Meilleur apprentissage</h3>
					<p>
            Notre école primaire est un modèle d'éducation </p>

                </div>
              </li>
              <li>
                <img src="../assets/img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>Expérience d'apprentissage riche</h3>
					<p>Une véritable expérience de classe interactive avec vidéo, quiz et plus</p>

                </div>
              </li>
            </ul>
        </div>
	<!-- end slider -->
	</section>
