<mat-toolbar id="mainToolbar" color="primary">
    <mat-icon
      (click)="onToolbarMenuToggle()"
      id="toolbarMenu">subject</mat-icon>
    Kids Academy
    <span class="toolbar-spacer"></span>
    <button mat-fab color="primary" [routerLink]="['../home']" routerLinkActive="router-link-active">
      <mat-icon>account_balance</mat-icon>
    </button>
    <button mat-fab color="primary" (click)="logout()">
      <mat-icon>tv_off</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container
    id="sidenavContainer"
   fullscreen>
    <mat-sidenav
      mode="side"
      #sidenav
      id="sidenav"
      [class.menu-open]="isMenuOpen"
      [class.menu-close]="!isMenuOpen"
      opened>

      <mat-list id="menus">
        <mat-card>
          <mat-card-header>
            <div class="nav-profile-image">
              <img src='https://ui-avatars.com/api/?background=5443ab&color=fff&rounded=true&name=Slim+Jrad' alt="profile">
              <span class="login-status online"></span>
              <!--change to offline or busy as needed-->
            </div>
            <mat-card-title>Slim Ben Jrad </mat-card-title>
            <mat-card-subtitle>SUPER_ADMIN</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
        <mat-list-item>
          <button
          class="menu-item"
            mat-flat-button [routerLink]="['dashboard']">
            <mat-icon>dashboard</mat-icon>
          Dashboard</button>
        </mat-list-item>



        <mat-list-item>
            <button
            class="menu-item"
              mat-flat-button (click)="dropped()">
              <mat-icon>group</mat-icon>
            User</button>
          </mat-list-item>

          <div *ngIf="droppedList">
            <mat-list-item >
              <button
              class="menu-item-dropped"
                mat-flat-button title="Prof" [routerLink]="['users','prof']" routerLinkActive="router-link-active"   >
                <mat-icon>person</mat-icon>
                Prof </button>
            </mat-list-item>
            <mat-list-item >
              <button
              class="menu-item-dropped"
                mat-flat-button title="Eleve" [routerLink]="['users','eleve']" routerLinkActive="router-link-active"   >
                <mat-icon>person</mat-icon>
                Eleve </button>
            </mat-list-item>
            <mat-list-item >
              <button
              class="menu-item-dropped"
                mat-flat-button title="Eleve" [routerLink]="['users','parent']" routerLinkActive="router-link-active"   >
                <mat-icon>person</mat-icon>
                Parent </button>
            </mat-list-item>

          </div>
           <mat-list-item>
            <button
            class="menu-item"
              mat-flat-button (click)="dropemploie()">
              <mat-icon>schedule</mat-icon>
            Emploie Du Temps</button>
          </mat-list-item>

          <div *ngIf="droppedempl">
            <mat-list-item >
              <button
              class="menu-item-dropped"
                mat-flat-button title="Prof" [routerLink]="['emploie','prof']" routerLinkActive="router-link-active">
                <mat-icon>schedule</mat-icon>
                Prof </button>
            </mat-list-item>
            <mat-list-item >
              <button
              class="menu-item-dropped"
                mat-flat-button title="Eleve" [routerLink]="['emploie','eleve']" routerLinkActive="router-link-active"   >
                <mat-icon>schedule</mat-icon>
                Eleve </button>
            </mat-list-item>

          </div>

          <mat-list-item>
              <button
              class="menu-item" mat-flat-button title="Matiere" [routerLink]="['matiere']" routerLinkActive="router-link-active"
                >
                <mat-icon>school</mat-icon>
              Ajouter Matiere</button>
            </mat-list-item>
            <mat-list-item>
              <button
            class="menu-item"
              mat-flat-button title="Affecter" [routerLink]="['affecter']" routerLinkActive="router-link-active"   >
              <mat-icon>assignment</mat-icon>
              Affecter </button>
            </mat-list-item>
            <mat-list-item >
              <button
              class="menu-item"
                mat-flat-button title="Inbox" [routerLink]="['inbox']" routerLinkActive="router-link-active"   >
                <mat-icon>question_answer</mat-icon>
                Inbox </button>
            </mat-list-item>


      </mat-list>
    </mat-sidenav>


    <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">

   <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>
