
<!-- start header -->
<header>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html"><i
            class="icon-info-blocks material-icons">account_balance</i>Kids<strong>Academy</strong><p >by Selim Ben jrad</p></a>
      </div>
      <div class="navbar-collapse collapse ">
        <ul class="nav navbar-nav" *ngIf="islogged">
          <li ><a class="waves-effect waves-dark" [routerLink]="['/home']"
              routerLinkActive="router-link-active">Home</a></li>
             <li><a   *ngIf="role.role=='parent'" class="waves-effect waves-dark" [routerLink]="['/parent/accepté']"
                routerLinkActive="router-link-active">Dashboard</a></li>
             <li><a   *ngIf="role.role=='prof'" class="waves-effect waves-dark" [routerLink]="['/prof']"
                  routerLinkActive="router-link-active">Dashboard</a></li>
                  <li><a class="waves-effect waves-dark" href="#"(click)="logout()" >Deconnexion</a></li>
                  <li><a   *ngIf="role.role=='eleve'" class="waves-effect waves-dark" [routerLink]="['/eleve']"
                    routerLinkActive="router-link-active">Travail</a></li>

        </ul>
        <ul class="nav navbar-nav" *ngIf="!islogged">
            <li class="active"><a class="waves-effect waves-dark" [routerLink]="['/home']"
                routerLinkActive="router-link-active">Home</a></li>
                <li ><a class="waves-effect waves-dark" [routerLink]="['/login']"
                    routerLinkActive="router-link-active">Login</a></li>
                <li ><a class="waves-effect waves-dark" [routerLink]="['/register']"
                    routerLinkActive="router-link-active">Register</a></li>
                    <li><a class="waves-effect waves-dark" >Blog</a></li>
                    <li><a class="waves-effect waves-dark" >Actualités</a></li>
          </ul>
      </div>
    </div>
  </div>
</header>

